<div class='my-8'>
  <div class='flex flex-row'>
    <div class='w-3/4 flex-auto'>
      <div>
        <%= link_to 'https://www.coingecko.com/' do %>
          <span class='flex items-center justify-end font-light font-medium text-gray-300 text-lg ml-2 mb-6'>
            Prices powered by <%= image_tag 'https://static.coingecko.com/s/coingecko-branding-guide-4f5245361f7a47478fa54c2c57808a9e05d31ac7ca498ab189a3827d6000e22b.png',
                                     size: '120x90',
                                     class: 'py-1 px-2 ml-2 rounded-md bg-gray-200' %>
          </span>
        <% end %>
      </div>
      <div class='flex flex-row'>
        <div class='w-1/6 flex justify-center'>
        <% if @sort.eql? 'volume_asc' %>
          <%= link_to '# ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_desc'}), class: 'font-bold text-gray-200' %>
        <% else %>
          <%= link_to '# ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_asc' }), class: 'font-bold text-gray-200' %>
        <% end %>
        </div>
        <div class='w-2/6 flex justify-start'>
        <% if @sort.eql? 'ticker_asc' %>
          <%= link_to 'Ticker ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'ticker_desc'}), class: 'font-bold text-gray-200' %>
        <% else %>
          <%= link_to 'Ticker ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'ticker_asc'}), class: 'font-bold text-gray-200' %>
        <% end %>
        </div>
        <div class='w-1/6 flex justify-end'>
        <% if @sort.eql? 'price_asc' %>
          <%= link_to 'Price ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_desc'}), class: 'font-bold text-gray-200' %>
        <% else %>
          <%= link_to 'Price ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_asc'}), class: 'font-bold text-gray-200' %>
        <% end %>
        </div>
        <div class='w-1/6 flex justify-end'>
        <% if @sort.eql? 'price_percentage_change_24h_asc' %>
          <%= link_to '24h % ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_percentage_change_24h_desc'}), class: 'font-bold text-gray-200' %>
        <% else %>
          <%= link_to '24h % ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_percentage_change_24h_asc'}), class: 'font-bold text-gray-200' %>
        <% end %>
        </div>
        <div class='w-1/6 flex justify-end'>
        <% if @sort.eql? 'volume_asc' %>
          <%= link_to 'Volume (24h) ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_desc'}), class: 'font-bold text-gray-200' %>
        <% else %>
          <%= link_to 'Volume (24h) ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_asc'}), class: 'font-bold text-gray-200' %>
        <% end %>
        </div>
      </div>
      <div>
        <% @derivatives.each_with_index do |derivative, index| %>
          <div class='flex flex-row'>
            <div class='w-1/6 py-5 flex items-center justify-center'>
              <p><%= index + 1 + @page %></p>
            </div>
            <div class='w-2/6 flex items-center justify-start'>
              <%= image_tag("https://icons.bitbot.tools/api/#{derivative.base.downcase}/32x32", class: 'transform scale-75', onerror: "this.style.display='none'") %>
              <%= image_tag("https://icons.bitbot.tools/api/#{derivative.target.downcase}/32x32", class: 'transform scale-75', onerror: "this.style.display='none'") %>
              <p class='ml-5 font-semibold'><%= link_to(derivative.symbol, derivative_path(id: derivative.id)) %></p>
            </div>
            <div class='w-1/6 flex items-center justify-end'>
            <% if derivative.price < 1 %>
              <p><%= number_to_currency(derivative.price, precision: 3) %></p>
            <% else %>
              <p><%= number_to_currency(derivative.price) %></p>
            <% end %>
            </div>
            <div class='w-1/6 flex items-center justify-end'>
            <% if derivative.price_percentage_change_24h < 0 %>
              <p class='text-red-600'><%= number_with_precision(derivative.price_percentage_change_24h, precision: 2) %>%</p>
            <% else %>
              <p class='text-green-500'><%= number_with_precision(derivative.price_percentage_change_24h, precision: 2) %>%</p>
            <% end %>
            </div>
            <div class='w-1/6 flex items-center justify-end'>
              <p>$<%= number_with_precision(derivative.volume_24h, precision: 0, delimiter: ',') %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='w-1/4 flex justify-center'>
      <div class='border-l border-gray-500 mr-5'></div>
      <%= form_with url: derivatives_path, method: :get, scope: :filters, local: true, class: 'w-4/5' do |f| %>
        <p class='mb-2 text-lg font-bold'>Filters</p>
        <%= f.label 'derivative-exchange-selector', 'Market', class: 'w-full' %>
        <%= f.collection_select :derivative_exchange_id, @derivative_exchanges, :id, :name, { selected: @derivative_exchange_id }, { id: 'derivative-exchange-selector', class: 'mt-2 mb-4 py-1 w-full text-gray-700 bg-gray-300 rounded', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
        <%= f.label 'contract-type-selector', 'Contract Type', class: 'w-full' %>
        <%= f.select :contract_type, @contract_types, { selected: @contract_type }, { id: 'contract-type-selector', class: 'mt-2 mb-4 py-1 w-full text-gray-700 rounded bg-gray-300', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
        <%= f.label 'base-currency-selector', 'Base', class: 'w-full' %>
        <%= f.select :base_currency, @base_currencies, { selected: @base_currency }, { id: 'base-currency-selector', class: 'mt-2 mb-4 py-1 w-full text-gray-700 rounded bg-gray-300', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
        <%= f.label 'target-currency-selector', 'Target', class: 'w-full' %>
        <%= f.select :target_currency, @target_currencies, { selected: @target_currency }, { id: 'target-currency-selector', class: 'mt-2 mb-4 py-1 w-full text-gray-700 rounded bg-gray-300', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
      <% end %>
    </div>
  </div>
  <div class='w-3/4 mt-2 flex justify-center'>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
