<%= stylesheet_link_tag 'derivatives/index' %>

<%= form_with url: derivatives_path, method: :get, scope: :filters, id: 'derivative-exchange-selector' do |f| %>
  <%= f.label 'derivative-exchange-selector', 'Market' %>
  <%= f.collection_select :derivative_exchange_id, @derivative_exchanges, :id, :name, {}, { id: 'derivative-exchange-selector', data: { controller: 'derivatives', action: 'derivatives#change', 'derivatives-target': 'derivativeExchange' } } %>
  <%= f.label 'contract-type-selector', 'Contract Type' %>
  <%= f.select :contract_type, @contract_types, {}, { id: 'contract-type-selector', data: { controller: 'derivatives', action: 'derivatives#change', 'derivatives-target': 'derivativeExchange' } } %>
<% end %>

<%= turbo_frame_tag 'derivatives', src: derivatives_path do %>
  <table>
    <tr>
      <% if @sort.eql? 'volume_asc' %>
        <th><a href='?sort=volume_desc'># ▴</a></th>
      <% else %>
        <th><a href='?sort=volume_asc'># ▾</a></th>
      <% end %>
      <% if @sort.eql? 'ticker_asc' %>
        <th><a href='?sort=ticker_desc'>Ticker ▴</a></th>
      <% else %>
        <th><a href='?sort=ticker_asc'>Ticker ▾</a></th>
      <% end %>
      <% if @sort.eql? 'price_asc' %>
        <th><a href='?sort=price_desc'>Price ▴</a></th>
      <% else %>
        <th><a href='?sort=price_asc'>Price ▾</a></th>
      <% end %>
      <% if @sort.eql? 'price_percentage_change_24h_asc' %>
        <th><a href='?sort=price_percentage_change_24h_desc'>24h % ▴</a></th>
      <% else %>
        <th><a href='?sort=price_percentage_change_24h_asc'>24h % ▾</a></th>
      <% end %>
    </tr>
    <% @derivatives.each_with_index do |derivative, index| %>
      <tr>
        <td class='rank-container'>
          <%= index + 1 %>
        </td>
        <td class='symbol-container'>
          <%= derivative.symbol %>
        </td>
        <td class='price-container'>
          <%= derivative.price %>
        </td>
        <td class='price-percentage-change-container'>
          <%= derivative.price_percentage_change_24h %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
