<%= stylesheet_link_tag 'derivatives/index' %>

<div class='container'>
  <div class='derivatives-container'>
    <div class='single-derivative-container'>
      <% if @sort.eql? 'volume_asc' %>
        <div class='rank-sort-container'><%= link_to '# ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_desc'}), class: 'filter-link' %></div>
      <% else %>
        <div class='rank-sort-container'><%= link_to '# ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_asc' }), class: 'filter-link' %></div>
      <% end %>
      <% if @sort.eql? 'ticker_asc' %>
        <div class='symbol-sort-container'><%= link_to 'Ticker ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'ticker_desc'}), class: 'filter-link' %></div>
      <% else %>
        <div class='symbol-sort-container'><%= link_to 'Ticker ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'ticker_asc'}), class: 'filter-link' %></div>
      <% end %>
      <% if @sort.eql? 'price_asc' %>
        <div class='price-sort-container'><%= link_to 'Price ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_desc'}), class: 'filter-link' %></div>
      <% else %>
        <div class='price-sort-container'><%= link_to 'Price ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_asc'}), class: 'filter-link' %></div>
      <% end %>
      <% if @sort.eql? 'price_percentage_change_24h_asc' %>
        <div class='price-percentage-change-sort-container'><%= link_to '24h % ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_percentage_change_24h_desc'}), class: 'filter-link' %></div>
      <% else %>
        <div class='price-percentage-change-sort-container'><%= link_to '24h % ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'price_percentage_change_24h_asc'}), class: 'filter-link' %></div>
      <% end %>
      <% if @sort.eql? 'volume_asc' %>
        <div class='rank-sort-container'><%= link_to 'Volume (24h) ▴', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_desc'}), class: 'filter-link' %></div>
      <% else %>
        <div class='rank-sort-container'><%= link_to 'Volume (24h) ▾', derivatives_path(filters: { derivative_exchange_id: @derivative_exchange_id, sort: 'volume_asc'}), class: 'filter-link' %></div>
      <% end %>
    </div>
    <div>
      <% @derivatives.each_with_index do |derivative, index| %>
        <div class='single-derivative-container'>
          <div class='rank-container'>
            <p><%= index + 1 %></p>
          </div>
          <div class='symbol-container'>
            <p><%= derivative.symbol %></p>
          </div>
          <div class='price-container'>
          <% if derivative.price < 1 %>
            <p><%= number_to_currency(derivative.price, precision: 4) %></p>
          <% else %>
            <p><%= number_to_currency(derivative.price) %></p>
          <% end %>
          </div>
          <div class='price-percentage-change-container'>
          <% if derivative.price_percentage_change_24h < 0 %>
            <p class='negative-price'><%= number_with_precision(derivative.price_percentage_change_24h, precision: 2) %>%</p>
          <% else %>
            <p class='positive-price'><%= number_with_precision(derivative.price_percentage_change_24h, precision: 2) %>%</p>
          <% end %>
          </div>
          <div class='rank-container'>
            <p>$<%= number_with_precision(derivative.volume_24h, precision: 0, delimiter: ',') %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-container'>
    <%= form_with url: derivatives_path, method: :get, scope: :filters, local: true do |f| %>
      <%= f.label 'derivative-exchange-selector', 'Market' %>
      <%= f.collection_select :derivative_exchange_id, @derivative_exchanges, :id, :name, { selected: @derivative_exchange_id }, { id: 'derivative-exchange-selector', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
      <%= f.label 'contract-type-selector', 'Contract Type' %>
      <%= f.select :contract_type, @contract_types.map { |type| type.titleize }, { selected: @contract_type.titleize }, { id: 'contract-type-selector', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
      <%= f.label 'base-currency-selector', 'Base' %>
      <%= f.select :base_currency, @base_currencies, { selected: @base_currency }, { id: 'base-currency-selector', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
      <%= f.label 'target-currency-selector', 'Target' %>
      <%= f.select :target_currency, @target_currencies, { selected: @target_currency }, { id: 'target-currency-selector', data: { controller: 'derivatives', action: 'derivatives#change' } } %>
    <% end %>
  </div>
</div>
