<div>
  <%= @derivative.symbol %>
  <%= @derivative.price %>
  <%= @derivative.price_percentage_change_24h %>
  <%= @derivative.volume_24h %>
  <%= @derivative.contract_type %>
  <%= @derivative.base %>
  <%= @derivative.target %>
  <%= @derivative.url %>
  <%= @derivative.expiring_at %>
  <%= @derivative.funding_rate %>
  <%= @derivative.bid_ask_spread %>
  <%= @derivative.open_interest %>
</div>
