<div class='w-5/6 my-5 mx-auto divide-y divide-current'>
  <div class='flex flex-row my-8'>
    <div class='w-2/6'>
      <div class='mb-4 text-lg font-semibold text-gray-200'><%= link_to '< Back', :back %></div>
      <div class='text-3xl font-bold'><%= @derivative.symbol %></div>
      <div class='flex flex-row mt-2 items-center bg-gray-600 rounded-md'>
        <div><%= image_tag(@derivative_exchange.image_url, class: 'transform scale-50') %></div>
        <div><%= link_to("#{@derivative_exchange.name}", @derivative.url, target: :_blank) %></div>
      </div>
      <div class='flex flex-row my-2'>
        <div class='flex flex-1 flex-row mr-1 items-center justify-center bg-gray-600 rounded-md'>
          <%= image_tag("coin_icons/#{@derivative.base.downcase}.png", class: 'transform scale-75', onerror: "this.style.display='none'") rescue nil %>
          <span class='font-semibold'><%= @derivative.base %></span>
        </div>
        <div class='flex flex-1 flex-row ml-1 items-center justify-center bg-gray-600 rounded-md'>
          <%= image_tag("coin_icons/#{@derivative.target.downcase}.png", class: 'transform scale-75', onerror: "this.style.display='none'") rescue nil %>
          <span class='font-semibold'><%= @derivative.target %></span>
        </div>
      </div>
    </div>
    <div class='flex w-4/6 items-center mx-8'>
      <div class='flex flex-col pl-4 w-2/4'>
        <div>
          <div class='flex flex-row items-center mb-1 text-lg font-semibold'>Price (USD) 
            <%= link_to 'https://www.coingecko.com/' do %>
              <span class='flex flex-row items-center font-light text-gray-400 text-xs ml-2'>
                powered by <%= image_tag 'https://static.coingecko.com/s/coingecko-branding-guide-4f5245361f7a47478fa54c2c57808a9e05d31ac7ca498ab189a3827d6000e22b.png',
                                         size: '70x50',
                                         class: 'p-1 ml-2 rounded-md bg-gray-200' %>
              </span>
            <% end %>
          </div>
          <div class='flex flex-row items-center'>
            <% if @derivative.price < 1 %>
              <div class='text-3xl font-semibold'><%= number_to_currency(@derivative.price, precision: 3) %></div>
            <% else %>
              <div class='text-3xl font-semibold'><%= number_to_currency(@derivative.price, precision: 2) %></div>
            <% end %>
            <% if @derivative.price_percentage_change_24h < 0 %>
              <div class='ml-5 text-2xl text-red-600 font-semibold'>▼ <%= number_with_precision(@derivative.price_percentage_change_24h, precision: 2) %>%</div>
            <% else %>
              <div class='ml-5 text-2xl text-green-600 font-semibold'>▲ <%= number_with_precision(@derivative.price_percentage_change_24h, precision: 2) %>%</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class='flex flex-col w-1/4'>
        <div>
          <div class='font-semibold'>Volume (24h)</div>
          <div class=''>$<%= number_with_precision(@derivative.volume_24h, precision: 0, delimiter: ',') %></div>
        </div>
        <div class='mt-4'>
          <div class='font-semibold'>Volume (7d)</div>
          <div class=''>$<%= number_with_precision(@derivative.volume_24h, precision: 0, delimiter: ',') %></div>
        </div>
      </div>
      <div class='flex flex-col w-1/4'>
        <div>
          <div class='font-semibold'>Contract Type</div>
          <div class=''><%= @derivative.contract_type.capitalize %></div>
        </div>
        <div class='mt-4'>
          <% if @derivative.contract_type.eql? "futures" %>
            <div class='font-semibold'>Funding Rate</div>
            <div class=''><%= @derivative.funding_rate %></div>
          <% else %>
            <div class='font-semibold'>Expiring At</div>
            <div class=''><%= @derivative.expired ? @derivative.expired : '-' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='flex flex-row'>
    <div class='w-3/4 mt-8'>
      <div class='flex flex-row'>
        <div class='w-1/2 flex flex-col items-center'>
          <div class=''>Spread (USD)</div>
          <div class='text-xl font-semibold'><%= number_to_currency(@derivative.bid_ask_spread, precision: 5, strip_insignificant_zeros: true) %></div>
        </div>
        <div class='w-1/2 flex flex-col items-center'>
          <div class=''>Open Interest (USD)</div>
          <div class='text-xl font-semibold'><%= number_to_currency(@derivative.open_interest) %></div>
        </div>
      </div>
      <div class='mt-8'>
        <%= line_chart chart_path(@derivative.id),
          colors: ['gainsboro', 'gainsboro'],
          prefix: '$',
          thousands: ',',
          precision: @precision,
          zeros: false,
          max: nil,
          min: nil,
          library: {
            plugins: {
              tooltip: {
                enabled: true,
                callbacks: {
                }
              }
            },
            scales: {
              grid: {
                display: true,
                ticks: {
                  display: false
                }
              },
              x: {
                ticks: {
                  color: 'gainsboro',
                  font: {
                    weight: '600'
                  },
                }
              },
              y: {
                grid: {
                  color: '#505050',
                },
                ticks: {
                  color: 'gainsboro',
                  font: {
                    weight: '600'
                  },
                }
              },
            }
          }
        %>
      </div>
      <div>
        <div class='flex flex-row items-center mt-10 mb-3'>
          <div class='text-2xl font-bold'>
            Latest news for <%= @derivative.symbol %>
          </div>
          <div class='mx-2'>
            -
          </div>
          <div class='flex items-center'>
            Powered by <span class='ml-2 p-1 rounded-sm bg-gray-300 text-gray-800 text-sm font-mono font-bold'><%= link_to "Crypto News API", 'https://cryptonews-api.com/', target: :_blank %></span>
          </div>
        </div>
        <% if @news.present? %>
          <% @news.each do |news| %>
            <%= link_to news.link, target: :_blank do %>
              <div class='flex flex-row mb-4'>
                <div class='w-1/5 flex items-center justify-center'>
                  <% if news.preview_url %>
                    <div><%= image_tag(news.preview_url, class: 'object-cover h-36 w-full rounded-md') %></div>
                  <% end %>
                </div>
                <div class='flex flex-col w-4/5 p-4'>
                  <div class='font-semibold text-lg'><%= news.title %></div>
                  <div class='mt-1 mb-4'><%= news&.summary&.truncate(300) %></div>
                  <div class='flex flex-row'>
                    <div class='text-sm text-gray-500'><%= news.domain %></div>
                    <div class='ml-2 text-sm text-gray-500'>-</div>
                    <div class='ml-2 text-sm text-gray-500'><%= time_ago_in_words(news.published_date) %> ago</div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='w-1/4 flex flex-col items-center'>
      <div class='mt-5 text-xl'>
        Latest tweets on
        <span class='font-semibold'>#<%= link_to @derivative.symbol, "https://twitter.com/hashtag/#{@derivative.symbol}", target: :_blank %></span>
      </div>
      <div class='mx-8'>
      <% if @tweets.blank? %>
        <div class='mt-8'>No discussions yet for #<%= @derivative.symbol %></div>
      <% else %>
        <% @tweets.each do |tweet| %>
          <%= link_to "https://twitter.com/user/status/#{tweet.id}", target: :_blank, class: 'font-medium' do %>
            <div class='my-4'>
              <div class='flex flex-row items-center'>
                <% user = @users.find(tweet.author_id) %>
                <div><%= image_tag(user['profile_image_url'], size: '32x32', class: 'rounded-full') %></div>
                <div class='ml-3 text-base font-semibold'><%= user['username'] %></div>
              </div>
              <div class='mt-2 font-normal'><%= tweet.text.truncate(100) %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
